<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="BNSBoost.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup>
    <userSettings>
        <BNSBoost.Properties.Settings>
            <setting name="NCLauncherRPath" serializeAs="String">
                <value />
            </setting>
            <setting name="UseAllCores" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="NoTextureStreaming" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="GameDirectoryPath" serializeAs="String">
                <value />
            </setting>
            <setting name="NoLoadingScreens" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Region" serializeAs="String">
                <value>NA</value>
            </setting>
            <setting name="DisableX3" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowDPSMeter" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EnableOptimizedMode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SkillbookDelayEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowAverageScore" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowOpposingTeam" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DisableAFKDisconnect" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Is64Bit" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ChangeLatencyDisplayTime" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SwitchDelayValue" serializeAs="String">
                <value>1.5</value>
            </setting>
            <setting name="LatencyShowTimeValue" serializeAs="String">
                <value>600</value>
            </setting>
            <setting name="ExitGameImmediately" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DisableEULAPrompt" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Hash_xml_dat" serializeAs="String">
                <value />
            </setting>
            <setting name="Hash_xml64_dat" serializeAs="String">
                <value />
            </setting>
            <setting name="Hash_config_dat" serializeAs="String">
                <value />
            </setting>
            <setting name="Hash_config64_dat" serializeAs="String">
                <value />
            </setting>
            <setting name="MultiClientEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckForUpdates" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EnabledMods" serializeAs="String">
                <value />
            </setting>
        </BNSBoost.Properties.Settings>
    </userSettings>
</configuration>
